{% extends 'basenohead.html' %}
{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'stylesheets/login.css'%}">
  {% endblock %}


{% block tittle %}
  <title>FCAI-CU Login</title>
{% endblock %}



{% block content%}

<form action = "" method = "POST" class="loginform" id="loginform">
    {% csrf_token %}
    <h1>Log In</h1>
        <div class="icon">
            <img src="{% static 'images/login.png' %}"  alt="login icon"
                class="lilcircle">
        </div>
        <div class="inputcontrol"> 
          <input type="text" class="input" placeholder=" " id="username" name="username" > <!-- edited -->
            <label for="userid" class="formlabel">Username</label>
            <div class="error"></div>

        </div>
        <div class="inputcontrol">
            <input class="input" placeholder=" " type="password" id="password" name="password" > <!-- edited -->
            <label for="password"class="formlabel">Password</label>
            <div class="error"></div>
        </div>
        {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
        <button type="submit">Log In</button>
    </form>
 
{% comment %} {% block script %} 
<script src="{% static 'js/loginValidation.js' %}"></script>
{% endblock %} {% endcomment %}

{% endblock %}


