{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'stylesheets/search_style.css' %}">
<link rel="stylesheet" href="{% static 'stylesheets/head_foot_style.css' %}">
<script>
    function confirmDelete(studentId) {
        if (confirm("Are you sure you want to delete this student?")) {
            // If user confirms, submit the form
            var form = document.createElement("form");
            form.method = "POST";
            form.action = "{% url 'delete_student' %}";
    
            var csrf = document.createElement("input");
            csrf.setAttribute("type", "hidden");
            csrf.setAttribute("name", "csrfmiddlewaretoken");
            csrf.setAttribute("value", "{{ csrf_token }}");
            form.appendChild(csrf);
    
            var input = document.createElement("input");
            input.setAttribute("type", "hidden");
            input.setAttribute("name", "student_id");
            input.setAttribute("value", studentId);
            form.appendChild(input);
    
            document.body.appendChild(form);
            form.submit();
        } else {
            // If user cancels, do nothing
        }
    }
      
</script>  
{% endblock %}


{% block tittle %}
<title>Search For Student | FCAI-CU</title>
{% endblock %}


{% block content %}
<div class="search-box">
    <h1>Search for a Student</h1>
    <div>
        <form method="GET" class="search-bar">
            <input type="text" placeholder="Enter student name" id="searchInput" name="search_name">
            <button type="submit" id="searchInput"><img src="{% static 'images/search.png'%}" alt=""></button>
        </form>
    </div>

    <h1 class="title">Students Data</h1>
    <div class="table-box">
        <table id="studentsTable">
            <thead>
                <th>Name</th>
                <th>ID</th>
                <th>Level</th>
                <th>Status</th>
                <th>Data</th>
                <th>Delete</th>
            </thead>
            <tbody id="tableBody">

            {% for student in students %}
            <tr>
                <td>{{student.student_first_name}} {{student.student_last_name}}</td>
                <td>{{student.student_id}}</td>
                <td>{{student.student_level}}</td>
                <td>{{student.student_status}}</td>
                <td>
                <a href='{% url 'edit_student' student.student_id %}' class='edit-student'>
                    <i class="fa-solid fa-pen-to-square"></i>
                </a></td>
                <td>
                    <form method="POST" action="{% url 'delete_student' %}">
                        {% csrf_token %}
                        <input type="hidden" name="student_id" value="{{ student.id }}">
                        <button type="button" class="delete-button" onclick="confirmDelete('{{ student.id }}')">
                            <i class="fa-solid fa-trash-can"></i>
                        </button>

                        {% comment %} <button type="button" onclick="confirmDelete('{{ student.id }}')">
                            <img src="{% static 'images/delete.png' %}" alt='delete data' class='delete-box'>
                        </button> {% endcomment %}
                    </form>
                </td>
            </tr>
            {% endfor %}
            </tbody> 
        </table>
    </div>
</div>
{% endblock %}

