{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'stylesheets/search_style.css' %}">
<link rel="stylesheet" href="{% static 'stylesheets/head_foot_style.css' %}">
{% endblock %}


{% block tittle %}
<title>Search For Student | FCAI-CU</title>
{% endblock %}


{% block content %}
<div class="search-box">
    <h1>Search for a Student</h1>
    <div>
        <form action="" method="GET" class="search-bar">
            <input type="text" placeholder="Enter student name" id="searchInput" name="search_name">
            <button type="submit" id="searchButton"><img src="{% static 'images/search.png'%}" alt=""></button>
        </form>
    </div>

    <h1 class="title">Students Data</h1>
    <div class="table-box">
        <table id="studentsTable">
            <thead>
                <th>Name</th>
                <th>ID</th>
                <th>Level</th>
                <th>Status</th>
                <th>Data</th>
                <th>Delete</th>
            </thead>
            <tbody id="tableBody">

            {% for student in students %}
            <tr>
                <td>{{student.student_first_name}} {{student.student_last_name}}</td>
                <td>{{student.student_id}}</td>
                <td>{{student.student_level}}</td>
                <td>{{student.student_status}}</td>
                <td>
                <a href='{% url 'edit_student' student.student_id %}' class='edit-student'>
                    <img src="{% static 'images/edit.png' %}" alt='edit data' class='edit-box'>
                </a></td>
                <td>
                    <form method="POST" action="{% url 'delete_student' %}">
                        {% csrf_token %}
                        <input type="hidden" name="student_id" value="{{ student.id }}">
                        <button type="button" onclick="confirmDelete('{{ student.id }}')">Delete</button>

                        {% comment %} <button type="button" onclick="confirmDelete('{{ student.id }}')">
                            <img src="{% static 'images/delete.png' %}" alt='delete data' class='delete-box'>
                        </button> {% endcomment %}
                    </form>
                </td>
            </tr>
            {% endfor %}
            </tbody> 
        </table>
    </div>
</div>
{% endblock %}




{% block script %}
<script src="{% static 'js/search_editS_editD.js' %}"></script>
{% endblock %}