{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'stylesheets/view_style.css' %}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
    $('.student-button').click(function() {
      document.getElementById("popup").style.display = "flex";
      var row = $(this);
      var studentId = row.data('student-id');
      $.ajax({
        url: '/get-student-data/',  // URL endpoint to fetch student data
        method: 'GET',
        data: { student_id: studentId },
        success: function(response) {
          $('#student_status_popup').html(response.student_status);
          $('#student_name_popup').html(response.student_name);
          $('#student_id').html(response.student_id);

        // Unbind previous click event handler for save-status button
        $('#save-status').off('click').on('click', function() {
            var newStatus = $('#student-status-popup').val();
            $.ajax({
              url: '/update-student-status/', 
              method: 'POST',
              data: {
                student_id: studentId,
                new_status: newStatus,
                csrfmiddlewaretoken: '{{ csrf_token }}'
              },
              success: function(response) {
                // Update the status value in the table dynamically
                row.closest('tr').find('.status-column').html(response.status);
                
                var prev_html_popup = $('#main-pop').html();
                saved_message = `
                  <div class="sa">
                  <div class="sa-success">
                  <div class="sa-success-tip"></div>
                  <div class="sa-success-long"></div>
                  <div class="sa-success-placeholder"></div>
                  <div class="sa-success-fix"></div>
                  </div>
                  </div>
                  <h1 style="font-size:30px;">Saved!<h1>
                  <button id="ok">OK</button>
                  `;
                  $('#main-pop').html(saved_message);
                  
                  $('#ok').click(function() {
                    $('#popup').hide();
                    $('#main-pop').html(prev_html_popup);
                  });
                  
              },
              error: function() {
                alert("An error occurred. Please try again.");
              }
            });
          });
        },
        error: function() {
          alert("An error occurred. Please try again.");
        }
      });
    });
  });

  function closePopup() {
    document.getElementById("popup").style.display = "none";
  }
</script>
{% endblock %}


{% block tittle %}
<title>VIEW | FCAI-CU</title>
{% endblock %}


{% block content %}

<div class="back">
    <div class="popup" id="popup">
      <div class="popup-content" id="popup-content">
        <div id="close" class="close-button" onclick="closePopup()">
          <i class="fa-solid fa-circle-xmark"></i>
        </div>
        <div id="main-pop">
          <h2>Student Status</h2>
          <div>
            Student Name:
            <span id="student_name_popup"></span>
          </div>
          <div>
            Student ID:
            <span id="student_id"></span>
          </div>
          <div>
            Student Status:
            <span id="student_status_popup"></span>
          </div>


          <label for="student-status-popup">Choose Status: </label>
          <select name="student-status" id="student-status-popup" class="choose-status" 
               style="padding:4px 8px;border-radius:25px;font-size: 14px;">
            <option style="padding:4px;font-size: 14px;" value="Active">Active</option>
            <option  style="padding:4px;font-size: 14px;"value="Inactive">Inactive</option>
          </select>

          <div class="save-status-div">
            <input type="submit" value="Save" id="save-status">
          </div>
        </div>
      </div>
    </div>


      <h1>Students Data</h1>
      <div class="view_student_table">
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Level</th>
              <th>Mobile</th>
              <th>Department</th>
              <th>Status</th>
              <th>Edit</th>
            </tr>
          </thead>


          <tbody id="tbody">
            {% for student in students %}
            <tr>
                <td>{{student.student_id}}</td>
                <td>{{student.student_first_name}} {{student.student_last_name}}</td>
                <td>{{student.student_level}}</td>
                <td>{{student.student_phone}}</td>
                <td>{{student.student_dep}}</td>
                <td class="status-column">{{student.student_status}}</td>
                <td class="status-edit">
                  <button name="popup-edit-status" class="student-button" data-student-id="{{ student.id }}" id="popup-buttton">
                    <i class="fa-solid fa-pen-to-square" id="edit-button"></i>
                  </button>
                </td>  
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}




{% block script %} 
{% endblock %}