{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'stylesheets/view_style.css' %}">

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
    $('.student-button').click(function() {
      document.getElementById("popup").style.display = "flex";
      var studentId = $(this).data('student-id');
      $.ajax({
        url: '/get-student-data/',  // URL endpoint to fetch student data
        method: 'GET',
        data: { student_id: studentId },
        success: function(response) {
          document.getElementById("student_status_popup").innerHTML = response.student_status;
          document.getElementById("student_name_popup").innerHTML = response.student_name;
          document.getElementById("student_id").innerHTML = response.student_id;

          $('#save-status').click(function() {
            var newStatus = $('#student-status-popup').val();
            $.ajax({
              url: '/update-student-status/',  // URL endpoint to update student status
              method: 'POST',
              data: {
                student_id: studentId,
                new_status: newStatus,
                csrfmiddlewaretoken: '{{ csrf_token }}'
              },
              success: function(response) {
                saved_message = `
                  <div class="sa">
                  <div class="sa-success">
                  <div class="sa-success-tip"></div>
                  <div class="sa-success-long"></div>
                  <div class="sa-success-placeholder"></div>
                  <div class="sa-success-fix"></div>
                  </div>
                  </div>
                  <h1>Saved!<h1>
                  <button id="ok">OK</button>
                  `
                  document.getElementById('main-pop').innerHTML = saved_message;
                  
                  document.getElementById('ok').onclick = function() {
                      document.getElementById('popup').style.display = 'none';
                      location.reload();
                  };
              },
              error: function(xhr, status, error) {
                alert("An error occurred. Please try again.");
              }
            });
          });
        },
        error: function(xhr, status, error) {
          document.getElementById("student_status_popup").innerHTML = "Error";
          document.getElementById("student_name_popup").innerHTML= "Error";
          document.getElementById("student_status_popup").innerHTML = "Error";
        }
      });
    });
  });

  function closePopup() {
    document.getElementById("popup").style.display = "none";
  }
</script>
{% endblock %}


{% block tittle %}
<title>VIEW | FCAI-CU</title>
{% endblock %}


{% block content %}

<div class="back">
    <div class="popup" id="popup">
      <div class="popup-content" id="popup-content">
        <div id="close" class="close-button" onclick="closePopup()">
          <i class="fa-solid fa-circle-xmark"></i>
        </div>
        <div id="main-pop">
          <h2>Student Status</h2>
          <div>
            Student Name:
            <span id="student_name_popup"></span>
          </div>
          <div>
            Student ID:
            <span id="student_id"></span>
          </div>
          <div>
            Student Status:
            <span id="student_status_popup"></span>
          </div>


          <label for="student-status-popup">Choose Status: </label>
          <select name="student-status" id="student-status-popup">
            <option value="Active">Active</option>
            <option value="Inactive">Inactive</option>
          </select>

          <div class="save-status-div">
            <input type="submit" value="Save" id="save-status">
          </div>
        </div>
      </div>
    </div>


      <h1>Students Data</h1>
      <div class="view_student_table">
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Level</th>
              <th>Mobile</th>
              <th>Department</th>
              <th>Status</th>
              <th>Edit</th>
            </tr>
          </thead>


          <tbody id="tbody">
            {% for student in students %}
            <tr>
                <td>{{student.student_id}}</td>
                <td>{{student.student_first_name}} {{student.student_last_name}}</td>
                <td>{{student.student_level}}</td>
                <td>{{student.student_phone}}</td>
                <td>{{student.student_dep}}</td>
                <td>{{student.student_status}}</td>
                <td class="status-edit">
                  <button name="popup-edit-status" class="student-button" data-student-id="{{ student.id }}" id="popup-buttton">
                    <i class="fa-solid fa-pen-to-square" id="edit-button"></i>
                  </button>
                </td>  
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}




{% block script %} 
{% endblock %}