* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    align-self: auto;
    font-family: 'Nunito', sans-serif;
}

/*no underline on links*/

a:link {
    text-decoration: none;
}


a:visited {
    text-decoration: none;
}


a:hover {
    text-decoration: none;
}


a:active {
    text-decoration: none;
}

.title{
    display: flex;
    align-items: center;
}

.title h1{
    margin-left: 30px;
}
/*content slide has the text*/
.content {
    width: 45%;
    height: 100%;
    background-color: #000129;
    text-align: left;
    font-size: 14px;
    font-weight: 100;
    text-shadow: 1px 1px #090909;
    overflow: hidden;
    padding: 2.5em;
    font-weight: 500;
    font-family: 'Nunito', sans-serif;
}

/*link hover animation*/
.content a {
    color: #D3E0EA;
    font-size: 16px;
    padding: 6px 10px;
    margin: 10px 0;
    transition: all 0.3s ease;
    font-weight: 600;
}

.content a:hover {
    border: 1px solid #D3E0EA;
    color: #D3E0EA;
    padding: 6px 15px;
    letter-spacing: 2px;
    transition: all 0.3s ease;

}

.content article {
    margin-top: 9px;
    margin-bottom: 20px;
    margin-right: 10px;
    padding: 10px 10px;
    color: #faf2f7;
    text-shadow: 1px 1px #090909;
    line-height: 19px;
    font-size: 16px;
    font-weight: 550;
}

article h1{
    margin: 0;
    margin-top: 37px;
    font-family: 'Nunito', sans-serif;
}
/*all headings have animation*/
.content h1 {
    color: #faf2f7;
    transition: all 0.3s ease-out;
}

.content h1:hover {
    width: fit-content;
    letter-spacing: 2px;
    transition: all 0.5s ease;
}

.content h2 {
    color: #faf2f7;
    transition: all 0.3s ease-out;
    margin: 10px 10px;
}

.content h2:hover {
    width: fit-content;
    letter-spacing: 2px;
    transition: all 0.5s ease;
}

/* styling div with background image*/
.with-backdrop {
    background-size: 100% auto;
    background-repeat: no-repeat;
    backdrop-filter: blur(16px);
    width: 55%;
    height: 100%;

}

/*background images*/
#cuhistory .with-backdrop {
    background-image: url(../images/44c3cfdb086552e6e8f0b21679ae647e.jpg);

}

#cuevent .with-backdrop {
    background-image: url(../images/341054287_644392080848119_3116862062710716036_n.jpg);

}

#cunow .with-backdrop {
    background-image: url(../images/OM34l1EtkU4L229.jpg);

}

#fcaislide .with-backdrop {
    background-image: url(../images/5c6be7eeb5b68.jpg);
}

#cunow .content {
    font-size: 14px;
}
#cunow h1 {
    height: 39px;
}
#cunow h2 {
    font-size: 105%;
}

.swiper-slide, swiper-slide {
    display: flex;
}

#fcaislide img {
    height: 100px;
}

#fcaislide .main-fcai-imgs {
    align-self: flex-start;
}

#fcaislide h1 {
    font-size: 21px;
    width: fit-content;
    flex-shrink: 2;
}

#fcaislide .article {
    font-size: 14px;
}

.main-fcai-imgs {
    justify-content: flex-start;
    align-items: flex-start;
}


.swiper {
    width: 90%;
    height: 400px;
    margin: 40px auto;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    height: 900px;
    display: flex;
}

.swiper-button-next {
    color: rgb(211, 208, 208);
}

.swiper-button-prev {
    color: rgb(211, 208, 208);
}

/*animation of heading our depts*/
#depts {
    color: #D3E0EA;
    transition: all 0.3s ease-out;
    font-size: 40px;
    padding: 20px;
    border-radius: 9px;
    background-color: #000129;
}

#depts:hover {
    letter-spacing: 2px;
    transition: all 0.5s ease;
}

/*background images of div of each dept*/
.AI,
.CS,
.IS,
.IT,
.OR {
    background-size: 100% 100%;
    width: 30%;
    height: 63%;
}


/*heading animation for dept name*/
.departments-fcai h1 {
    color: #faf2f7;
    transition: all 0.2s ease-out;
    margin: 10px 10px;
}

.departments-fcai h1:hover {
    width: fit-content;
    letter-spacing: 0.75px;
    border-bottom: 3px solid #faf2f7;
    ;
}

/*text abt dept slides up animation*/
.departments-fcai .cardcontent {
    display: hidden;
    color: transparent;
    transform: scaleY(0);
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease;
    transform-origin: bottom top;
    position: absolute;
    top: 0;
}

.departments-fcai .dep-section .dep-content {
    display: flex;
    flex-direction: column;
}

.departments-fcai #dep:hover .cardcontent {
    height: 100%;
    transform: scaleY(1);
    transform-origin: bottom bottom;
    background-color: #000129;
    text-align: center;
    text-shadow: 1px 1px #090909;
    color: #D3E0EA;
    transition: all 0.3s ease;
    width: inherit;
}
.departments-fcai #dep:hover .cardcontent p {
    display: block;
    font-weight: 500;
    font-family: 'Nunito', sans-serif;
}

.departments-fcai .cardcontent p {
    text-align: center;
    margin: 10px 10px;
    padding: 10px 10px;
    font-size: 17px;
    display: none;
}

/*link hidden till card hovered on has animation*/
.departments-fcai #dep:hover:hover .cardcontent a {
    color: #D3E0EA;
    font-size: 17px;
    padding: 6px 10px;
    margin: 10px 0;
    transition: all 0.3s ease;
    display: block;
    font-weight: 500;
    font-family: 'Nunito', sans-serif;
}

.departments-fcai .cardcontent a {
    color: transparent;
    display: none;
}

.departments-fcai .cardcontent a:hover {
    border: 1px solid #D3E0EA;
    color: #D3E0EA;
    padding: 6px 15px;
    letter-spacing: 2px;
    transition: all 0.3s ease;
}

.dep-section {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    margin: 20px 10px;
    position: relative;
}

.departments-fcai {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}

.dep-section .dep-content h1 {
    font-size: 20px;
}


@media only screen and (max-width: 900px) {
    .departments-fcai {
        flex-direction: column;
    }

    #dep {
        width: 100%;
        margin-bottom: 50px;
        position: relative;
    }

    .dep-section {
        flex-direction: column;
        position: unset;
    }

    .departments-fcai #dep:hover .cardcontent p,
    .departments-fcai #dep:hover:hover .cardcontent a {
        font-size: 17px;
    }

    #depts {
        text-align: center;
    }

    .swiper {
        height: 295px;
    }

    .swiper-slide {
        flex-direction: column;
    }

    .with-backdrop {
        width: 100%;
    }

    .content{
        display: none;
    }
}

@media screen and (min-width: 900px) and (max-width: 1030px) {

    .departments-fcai #dep:hover .cardcontent p,
    .departments-fcai #dep:hover:hover .cardcontent a {
        font-size: 13px;
    }
}