* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #faf2f7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}
.container {
  width: 1340px;
  margin: 0 auto;
}

/* Start of NAVBAR */
.nav-container{
    width: 1340px;
    display: flex;
    height: 80px;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
}
nav {
  background-color: #272626;
  color: #faf2f7;
}

.cu-logo {
  display: flex;
  align-items: center;
}

.cu-logo h3{
    margin-left: 10px;
}


.nav-content ul {
  display: flex;
  width: 900px;
  justify-content: space-around;
}

.nav-content ul li a {
    color: #faf2f7;
  text-decoration: none;
}

footer {
  margin-top: auto;
  background-color: #272626;
  color: #faf2f7;
}

footer #container{
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1340px;
  margin: 0 auto;

}
.footer-content ul{
  height: inherit;
}

.footer-content ul li{
  margin: 30px 0;
}
.footer-logo{
  width: 200px;

}
.fa-brands{
  margin-bottom: 20px;
  margin-right: 5px;
  font-size: 20px;
}

.footer-content-1 a{
  text-decoration: none;
  margin-left: 5px;
  color: #faf2f7;
}
footer i:hover,
.footer-content-1 span:hover
.footer-content-1 a:hover{
  color: #8479E1;
}


.footer-content-1 .get-in-touch
{
  font-weight: bold;
}


/* End of NAV + footer */
<<<<<<< Updated upstream
/* End of NAV + footer */


=======


>>>>>>> Stashed changes
