:root {
  --nav_main_color: #000127;
  --nav_second_color:  #D3E0EA;
}

/* Old Color */
/* #272626 */


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  /* background: linear-gradient(45deg, #F6F5F5, #D3E0EA); */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  background-image: url("../images/Cairo-University.png");
  backdrop-filter: blur(5px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  width: 80%;
  margin: 0 auto;
  min-height: 100vh;
}

/* Start of NAVBAR */

.nav-container {
  width: 1320px;
  display: flex;
  height: 80px;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
}
nav {
  background-color: var(--nav_main_color);
  color: #faf2f7;
}

.cu-logo {
  display: flex;
  align-items: center;
}

.cu-logo h3 {
  margin-left: 10px;
}

.nav-content ul {
  display: flex;
  width: 630px;
  justify-content: space-around;
}

.nav-content ul li a {
  padding-bottom: 8px;
  color: #faf2f7;
  text-decoration: none;
  transition: all 0.3s ease;
  z-index: 1;
  position: relative;
}


.nav-content ul li a:before{
  border-bottom: 4px solid var(--nav_second_color);
  top: 0;
  left: 0;
  right: 100%;
  bottom: 0;
  content:"";
  position: absolute;
}

.nav-content ul li a:hover{
  color: var(--nav_second_color);
}
.nav-content ul li a:hover:before{
  transition: all 0.2s ease-out;
  z-index: -1;
  right: 0;
}




/* Sign out and in button */
.sign {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border: 2px solid var(--nav_second_color);
  transition: all 0.3s ease;
  z-index: 1;
  position: relative;
}

.sign:before{
  background-color: var(--nav_second_color);
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  content:"";
  position: absolute;
}
.sign:hover{
  color: var(--nav_main_color);
  border-color: transparent;
}
.sign:hover:before{
  transition: all 0.2s ease-out;
  z-index: -1;
  left: 0;
  right: 0;
}



/* Footer Section */
footer {
  margin-top: auto;
  background-color: var(--nav_main_color);
  color: #faf2f7;
}

footer #container {
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1320px;
  margin: 0 auto;
}
.footer-content-1 ul {
  height: inherit;
}

.footer-content-1 ul li {
  margin: 20px 0;
}
.footer-content-1 ul li a{
  text-decoration: none;
  color: #faf2f7;
}
.footer-content-1 ul li a:hover .fa-regular,
.footer-content-1 ul li a:hover ,.fa-sharp,
.footer-content-1 ul li a:hover{
  color: var(--nav_second_color);
}
.footer-logo {
  width: 140px;
}

.footer-content-2 p{
  margin-bottom: 20px;
}

.fa-brands{
  margin-bottom: 20px;
  margin-right: 5px;
  font-size: 20px;
}
.fa-brands:hover,
.fa-regular:hover,
.fa-sharp:hover,
.footer-content-1 span:hover{
  color: var(--nav_second_color);
}


.footer-content-1 .get-in-touch
{
  font-weight: bold;
}


/* End of NAV + footer */

/* Media Query */
@media only screen 
  and (max-width: 480px) { 
    
  
} 