
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    align-self: auto;
}
body{
    background-image: linear-gradient(to top, #ebc0fd 0%, #d9ded8 100%);
}
a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }



.content{
    width:45%;
    height: 100%;
   background-color: #000129;
   text-align: left;
   font-size: 14px;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-weight: 100;
   text-shadow: 1px 1px #090909;
   overflow: auto;

}
.content a{
color: #faf2f7;
  border-bottom: 3px solid #faf2f7;
  transition: all 0.3s ease;
  height: 35px;
  font-size: 16px;
  width: fit-content;
  margin:20px;
  background-color: transparent;
  margin: 10px 10px;
}
.content article{
margin:20px 10px;
padding: 10px 10px;
}

.content a:hover{
  background-color:#e4e4e4 ;
  border: 3px solid #e4e4e4;
  color: #000129;
  text-shadow: 0px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.content h1{
color:#faf2f7;;
transition: all 0.3s ease-out;
margin: 20px 10px;
}
.content h1:hover{
    width:fit-content;
    letter-spacing: 2px;
  transition: all 0.5s ease;
  border-bottom: 6px solid #faf2f7;;
}
.content h2{
    color:#faf2f7;;
    transition: all 0.3s ease-out;
    margin: 10px 10px;
}
.content h2:hover{
    width:fit-content;
    letter-spacing: 2px;
    transition: all 0.5s ease;
    
}


.with-backdrop{
    background-size:100% 100%;
    background-repeat: no-repeat;
    backdrop-filter: blur(16px);
    width:55%;
    height: 100%;

}

#fcaislide img{
    height: 100px;
}

#cuhistory .with-backdrop{
    background-image: url(../images/44c3cfdb086552e6e8f0b21679ae647e.jpg);
   
}
#cuhistory .content{
   

}

#cuevent .with-backdrop{
    background-image: url(../images/341054287_644392080848119_3116862062710716036_n.jpg);
    
}
#cuevent .content{
    
}


#cunow  .with-backdrop{
    background-image: url(../images/OM34l1EtkU4L229.jpg);
    
}
#cunow .content{
   font-size: 12px;
}

#fcaislide .with-backdrop{
    background-image: url(../images/5c6be7eeb5b68.jpg);background-size:100% 100%;
    
}
#fcaislide .content{
    display: flex;
    flex-wrap: wrap;
    align-content: \;
    align-items: unset;
    justify-content: flex-start;
}
#fcaislide .main-fcai-imgs{
    align-self: flex-start;
}
#fcaislide h1{
    font-size: 17px;
    width: fit-content;
   
}
#fcaislide .article{
    /* align-self: flex-end; */
    font-size: 14px;
}

.main-fcai-imgs{
    justify-content: flex-start;
    align-items: flex-start;
}

.swiper-slide{
    display: flex;
}

.swiper-slide article{
    color: #faf2f7;
    text-shadow: 1px 1px #090909;
}
