
body {
	background: linear-gradient(45deg, #faf2f7, #ebd2ef);
    height: 1000px;
}
/*.view_student_table {
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);    
}*/

.view_student_table h1{
    text-align: center;
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
table {
    width: 800px;
    border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(39, 38, 38, 0.1);
}

th {
    padding: 15px;
    text-align: center;
    background-color: rgb(39, 38, 38);
    color: #faf2f7;
}

td {
    padding: 15px;
    background-color: rgba(250, 242, 247, 0.2);
    color: #272626;
}


tbody tr:hover{
    background-color: rgba(39, 38, 38, 0.2);
}

tbody td {
    position: relative;
}


tbody td:hover::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(39, 38, 38, 0.2);
    z-index: -1;
}

.scrollit{
    overflow: scroll;
    height: 100px;
}

#status {
    background-color: rgba(250, 242, 247, 0.2);
    color: #272626;
    border-radius: 6px;
    border: none;
}

#save{
    background-color: #272626;
    color: #faf2f7;
    border: 3px solid transparent;
    margin-top: 30px;
    transition: all 0.3s ease;
    border-radius: 8px;
    height: 50px;
    width: 70px;
    font-size: 20px;
}

#save:hover{
    background-color: transparent;
    border: 3px solid #272626;
    color: #272626;
}








/*
.table_header tr{
    display: flex;
}

td {
    background-color: rgba(255,255,255,0.2);
    border-bottom: 1px solid #272626;
    color: #272626;
    padding: 15px;
    text-align: center;
}

th {
    padding: 15px;
    height: 60px;
    text-align: center;
    color: #faf2f7;
    background-color: #272626;
}*/


