{% load static %}

<nav>
    <div class="nav-container">
      <div class="cu-logo">
        <img class="logo" src="{% static 'images/Cairo_University_logo.png' %}" width="50px" height="60px" alt="cu-logo" />
        <h3>FCAI-CU Student Affairs</h3>
      </div>

      <input id="menu-toggle" type="checkbox" />
      <label class='menu-button-container' for="menu-toggle">
        <div class='menu-button'></div>
      </label>
      <div class="nav-media">
        <div class="nav-content">
          <ul type="none">
            <!-- <li><a href="login.html">Log In</a></li> -->
            <li><a href="index.html">Home</a></li>
            <li><a href="search.html">Search</a></li>
            <li><a href="add_student.html" class="add">Add Student</a></li>
            <li><a href="view.html">View Students</a></li>
          </ul>
        </div>
        <div>
          <a href="login.html" class="sign">Sign Out</a>
        </div>
      </div>

    </div>
  </nav>