{% load static %}

<nav>
    <div class="nav-container">
      <div class="cu-logo">
        <img class="logo" src="{% static 'images/Cairo_University_logo.png' %}" width="50px" height="60px" alt="cu-logo" />
        <h3>FCAI-CU Student Affairs</h3>
      </div>

      <input id="menu-toggle" type="checkbox" />
      <label class='menu-button-container' for="menu-toggle">
        <div class='menu-button'></div>
      </label>
      <div class="nav-media">
        <div class="nav-content">
          <ul type="none">
            <!-- <li><a href="login.html">Log In</a></li> -->
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'search'  %}">Search</a></li>
           <li><a href="{% url 'add_student' %}" class="add">Add Student</a></li>
            <li><a href="{% url 'view' %}">View Students</a></li>
          </ul>
        </div>
        <div>
          {% comment %} <span style = "margin-right: 20px;" class="hello-msg">Welcome, {{request.user}} </span> {% endcomment %}
          <a href="{% url 'login' %}" class="sign" style="padding: 10px 20px">Sign Out</a>
        </div>
      </div>

    </div>
  </nav>
